## Ignore all files. Put it in header.
/*

## Track .git files.
!.gitignore
!.keep
!.gitmodules

## Track all unity project directories.
!/Assets/
!/ProjectSettings/
!/Packages/

## Track tools directory.
!/Tools/

## Ignore unity asset temp directory.
/Assets/Temp/
/Assets/Temp.meta
